{% extends "frappe/templates/web.html" %}

{% block head_include %}
    <link rel="stylesheet" href="/assets/support_portal/css/bootstrap-table.min.css">
{% endblock %}

<div>
     {% block page_content %}

        {% set customer_value = none %}
        
        <div class="row">
            <div class="col-sm-12">
                <h1>Tickets</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-4">
                <div class="flex col page-actions justify-content-start">
                    <a class="btn btn-primary btn-sm primary-action" href="/tickets/?customer={{customer_value}}" >Míos</a>
                    <a class="btn btn-primary btn-sm primary-action" href="/tickets/all/?customer={{customer_value}}">Todos</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="flex col page-actions justify-content-center">
                    {% if customers | length > 0 %}
                        <input type="hidden" value="{{customer}}"/>
                        <select id="custom" autocomplete="off" class="input-with-feedback form-control ellipsis floating-select" onchange="location = '/tickets/all/?customer=' + this.value;">
                            {% for cus in customers%}
                                <option value="{{cus.name}}" {{ "" if customer != cus.name else "selected"}}>{{cus.customer_name}}</option>
                                {% if customer == cus.name %}
                                    {% set customer_value =  cus.name%}
                                {% endif %}
                            {% endfor %}
                            
                        </select>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="flex col page-actions justify-content-end">
                    <a class="btn btn-primary btn-sm primary-action" href="/tickets/createnew/?page=all&customer={{customer_value}}">+ New</a>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
        
                <table class="table mt-5" data-toggle="table" data-page-list="[10, 25, 50, 100, 500, All]" data-pagination="true" data-search="true" data-locale="es-ES" {% if issues | length > 0 %} data-filter-control="true" {% endif %}>
                    <thead>
                        <tr>
                            <th data-filter-control-placeholder="Buscar" data-field="codigo" data-filter-control="input">Codigo</th>
                            <th data-filter-control-placeholder="Buscar" data-field="asunto" data-filter-control="input">Asunto</th>
                            <th data-field="estado" data-filter-control="select">Estado</th>
                            <th data-field="prioridad" data-filter-control="select">Prioridad</th>
                            <th data-filter-control-placeholder="Buscar" data-field="creacion" data-filter-control="input">Fecha Creación</th>
                            <th data-filter-control-placeholder="Buscar" data-field="modificacion" data-filter-control="input">Fecha Modificación</th>
                            <th data-filter-control-placeholder="Buscar" data-field="creador" data-filter-control="input">Creador</th>
                            <th data-filter-control-placeholder="Buscar" data-field="asignado" data-filter-control="input">Asignado</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for issue in issues %}
                    <tr>
                        <td scope="row"><a href="/tickets/detail?code={{issue.name}}&customer={{customer_value}}">{{issue.name}}</a></td>
                        <td>{{issue.subject}}</td>
                        <td>{{issue.status}}</td>
                        <td>{{issue.priority}}</td>
                        <td>{{issue.creation}}</td>
                        <td>{{issue.modified}}</td>
                        <td>{{issue.raised_by}}</td> 
                        <td>{{issue.assign}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
        
            </div>
        </div>
    


    
     {% endblock %}
</div>


{% block script %}
    <script src="/assets/support_portal/js/bootstrap-table.min.js"></script>
    <script src="/assets/support_portal/js/bootstrap-table-filter-control.min.js"></script>
    <script src="/assets/support_portal/js/bootstrap-table-es-ES.js"></script>
{% endblock %}